.card {
    border-radius: 20pt;

    img {
        border-radius: 20pt;
        transition: transform 0.3s ease;
        filter: grayscale(100%);
        
        &:hover {
            transform: scale(1.1); 
            filter: grayscale(0%);
        }
    }
}