<div class="p-5">
    <div class="row pb-4">
        <h1 class="text-center">YEN CHU SHING</h1>
    </div>
    <div class="row p-4">
        <div class="col-md-4">
            <img src="../../../../assets/images/card-wang-tengda.png" alt="">
        </div>
        <div class="col-md-4 pt-5">
            <div class="pb-2">
                <span>{{'speed' | translate }}</span>
                <div class="progress">
                    <div class="progress-bar" [style.width.%]="">89</div>
                </div>
            </div>
            <div class="pb-2">
                <span>Strength</span>
                <div class="progress">
                    <div class="progress-bar" [style.width.%]=""></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Agility</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Shot Power</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Penalties</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 pt-5">
            <div class="pb-2">
                <span>Long Passing</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Short Passing</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Dribling</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Vision</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="pb-2">
                <span>Ball Control</span>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
