.footer {
    width: 100%;
    background-color: black;
    height: 150px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

a {
    color: white;
    text-decoration: none;
}