h1{
    color:#70f468;
    font-weight: bold;
}

.btn{
    background-color: #70f468;
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 20pt;
    font-weight: bold;
    padding: 10px 20px;
}