#logo {
    width: 260px;
    height: 80px;
    padding: 5px;
    }
  
.top-header{  
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
    }
    
.form-select {
  width: auto;
  height: 5%;
  margin: 5px;
  font-weight: bold;
  background-color: #e2ded5;
}