<div>
    <div class="row p-4">
        <h1 class="text-center">YUN WING</h1>
        <h2 class="text-center">Videos</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/88kbI0wRZb0?si=1y8eqhWU3G1GiiE_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/88kbI0wRZb0?si=1y8eqhWU3G1GiiE_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
